Source: semplice-meta
Section: misc
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 7.0.50~), germinate (>= 1.18), python, aptitude
Standards-Version: 3.9.4
Homepage: http://semplice-linux.org
Vcs-Git: git://github.com/semplice/meta.git
Vcs-Browser: https://github.com/semplice/meta

Package: meta-base
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Conflicts: semplice-desktop (<= 0.2-rocks2), system-base (< 4.0)
Description: The Semplice Base System 
 This package depends on all packages with priority "required"
 and "important".
 This metapackage ensures that you have installed a bootable
 working command-line system.
 .
 Is recommended having this package installed.

Package: meta-base-graphical
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}, meta-base
Description: The Semplice Graphic Base System
 This package depends on all packages useful to get a graphical system.
 .
 This package is used to ensure proper updates if the user decided to
 not use the rolling release system.

Package: meta-openbox
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}, meta-base-graphical
Description: The Semplice Openbox System
 This package depends on all packages that makes a Semplice Openbox System.
 .
 This package is used to ensure proper updates if the user decided to not
 use the rolling release system.

Package: meta-nonfree
Section: non-free/misc
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
#Recommends: ${germinate:Recommends}
Description: The Semplice System - nonfree firmwares
 This package depends on all non-free firmwares available in
 Debian.
 .
 This package is a metapackage - feel free to remove it.

Package: meta-base-feature-bluetooth
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}, meta-base
Description: The Semplice System - Bluetooth feature
 This metapackage ensures that the packages required to make bluetooth
 work are installed.

Package: meta-openbox-feature-bluetooth
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}, meta-base-feature-bluetooth
Description: The Semplice System - Bluetooth feature (openbox)
 This metapackage ensures that the packages required to manage bluetooth
 into the openbox environment are installed.

Package: meta-base-feature-printing
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}, meta-base
Description: The Semplice System - Printing feature
 This metapackage ensures that the packages required to make printing
 work are installed.

Package: meta-openbox-feature-printing
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}, meta-base-feature-printing
Description: The Semplice System - Printing feature (openbox)
 This metapackage ensures that the packages required to manage printing
 into the openbox environment are installed.

Package: meta-openbox-feature-office
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Description: The Semplice System - Office feature (openbox)
 This metapackage ensures that the office packages are installed.

Package: meta-openbox-feature-composite
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Description: The Semplice System - Composite feature (openbox)
 This metapackage ensures that the composite packages are installed.

Package: meta-openbox-feature-oneslip
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Description: The Semplice System - Web applications feature (openbox)
 This metapackage ensures that the oneslip packages are installed.

Package: meta-graphical-feature-nvidia
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Description: The Semplice System - nVidia drivers
 This packages enables the proprietary nVidia drivers in the installed
 system.
 .
 NOTE: It's recommended to install the feature via the Semplice Feature
 Manager.

Package: meta-graphical-feature-nvidia-legacy
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Description: The Semplice System - nVidia legacy drivers
 This packages enables the proprietary legacy nVidia drivers in the installed
 system.
 .
 NOTE: It's recommended to install the feature via the Semplice Feature
 Manager.

Package: meta-graphical-feature-nvidia-preistoric
Architecture: i386 amd64
Depends: ${misc:Depends}, ${germinate:Depends}
Description: The Semplice System - nVidia preistoric drivers
 This packages enables the proprietary preistoric nVidia drivers in the installed
 system.
 .
 NOTE: It's recommended to install the feature via the Semplice Feature
 Manager.
